@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-900 text-white ;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

button {
  -webkit-app-region: no-drag;
}

.webkit-app-region-drag {
  -webkit-app-region: drag;
}

.custom-li-prefix::before {
  content: "・";
  margin-left: -1em;
  /* text-indent: -1em; */
}

/* Your own custom utilities */
@import url("./_scrollbar.css");

