.headThreeColumnFoot {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 0fr 0fr 1fr;
  grid-template-areas: "header header header"
                       "left center right"
                       "footer footer footer";

  .header {
    grid-area: header;
  }

  .left {
    grid-area: left;
  }

  .center {
    grid-area: center;
  }

  .right {
    grid-area: right;
  }

  .footer {
    grid-area: footer;
  }
}
